<%- include ../partials/header -%>
<body>
    <div class="container">
    <% if (!bol && !update){ %>
    <form action="/inventory/update/show" method="post" class="col-md-7">
        <div class="form-group">
            <label for ="almacen">Almacen</label>
            <select id="almacen" name="almacen">
                <option value="Eventos">Eventos</option>
                <option value="Papeleria">Papeleria</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Consultar">
        </div>
    </form>
    <% } else if(bol && !update) {%>
    <div class="col-md-10">
        <% documents.forEach(function(document) { %>
        <div class="jumbotron col-md-3">
        <ul>
        <li>Nombre: <%= document.nombre %></li>
        <li>Cantidad: <%= document.cantidad %></li>
        <% if (document.perecedero === 'true') {%>
            <li>Perecedero: Si</li>
            <%}else{%>
            <li>Perecedero: No</li>
            <%}%>
        </ul>
        <form action="/inventory/update/item" method="POST">
            <input type="hidden" id="_id" name="_id" <%= "value="+documents[0]._id %> aria-describedby="addon1" class="form-control" hide>
            <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Actualizar">
        </div>
        </form>
        </div>
        <%});%>
    </div>
    <%} else if (update){%>
    <form action="/inventory/update" method="POST" class="col-md-7">
    <input type="hidden" name="_id" <%= "value="+ documents[0]._id %> >
        <div class="form-group">
        <label>Nombre</label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-tags" id="addon1"></span>
                <input type="text" id="nombre" name="nombre" <%= "value="+ documents[0].nombre%> aria-describedby="addon1" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
        <label>Cantidad</label>
            <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-euro" id="addon2"></span>
                <input type="number" id="cantidad" name="cantidad" <%= "value="+ documents[0].cantidad%> aria-describedby="addon2" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
        <label>Almacen</label>
            <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-inbox" id="addon2"></span>
                <select name="almacen" id="almacen" aria-describedby="addon3" class="form-control">
                    <% if (documents[0].almacen === 'Eventos'){%>
                    <option value="Eventos">Eventos</option>
                    <option value="Papeleria">Papeleria</option>
                    <% } else{ %>
                    <option value="Papeleria">Papeleria</option>
                    <option value="Eventos">Eventos</option>
                    <%}%>                    
                </select>
            </div>
        </div>

        <div class="form-group">
        <label>Perecedero</label>
            <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-pencil" id="addon2"></span>
                <select name="perecedero" id="perecedero" aria-describedby="addon4" class="form-control">
                    <% if (documents[0].perecedero === 'true'){%>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                    <% } else{ %>
                    <option value="false">No</option>
                    <option value="true">Si</option>
                    <%}%>                    
                </select>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="ENVIAR">
        </div>
    </form>
    <%}%>
    </div>
</body>
<%- include ../partials/footer -%>